# Параметры БД (используются в docker-compose.yml)
POSTGRES_DB=creating_software
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
DB_PORT=5432

# Настройки для бэкенда (будут проброшены в контейнер)
YOOKASSA_SHOP_ID=1366335
YOOKASSA_SECRET_KEY=test_UCFfL3Yh6Epuhv2QW8JlOC4O9zyfusLzF3sNkHeQChY
FRONTEND_URL=http://localhost
PASSPORT_ENCRYPTION_KEY=OFmQp1FexqZy74OWc89LsGDNaj3ScKiynReQ1XX8H6M=
