# База данных
DB_URL=postgresql://postgres:PASSWORD@localhost:5432/creating_software

# ЮKassa
YOOKASSA_SHOP_ID=YOUR_SHOP_ID
YOOKASSA_SECRET_KEY=YOUR_SECRET_KEY

# Настройки фронтенда
FRONTEND_URL=http://localhost

# Ключ для шифрования паспортов (сгенерируйте с помощью Fernet.generate_key())
PASSPORT_ENCRYPTION_KEY=YOUR_SECRET_KEY_HERE
